html,body,a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
	color: #fffff0;
}
body {
	background: #161010;
}
a:link, a[href] {
	color: #69c;
}
a:hover {
	color: #cc0;
}
a:visited {
	color: #f30;
}
code, .code, kbd, pre, textarea, tt, xmp {
	background: #333;
	color: #eeeeee;
}
del {
	color: #999;
}
dl dd {
	background: #111100;
}
dl.posting dd {
	border-color: #630;
}
dl.posting dd blockquote {
	background: #161619;
	border-color: #1f1f10;
}
footer {
	border-top-color: #ccc;
}
h1, h2, h3, h4, h5, h6 {
	color: #ffeedd;
}
h3, h2, h1 {
	text-shadow: -0.1ex -0.1ex 0.1ex #fff;
}
header {
	background: #111100;
	border-bottom-color: #ccc;
	color: #fff;
}
hr {
	border-color: #ffc;
	color: #ffc;
}
input {
	background: #ccc;
	color: #333;
}
pre, xmp {
	border-left-color: #666;
}
p.matches {
	background: #333;
	border-color: #666;
}
p#next a {
	border-bottom-color:#06f;
}
a.tc5, a.tc25, a.tc50, a.tc99 {
	background: #ffc;
	border-color: #cc9;
	color: #036;
}
/* _EoF_ */
