*.BAK
*.bak
*.css.min
*.db
*.gz
*.ini
*.log
*.min.css
*~
.git/
.github/
.vscode/
Markdown_Syntax.*
TODO*
access.*
addTest.md
bin/
bla.mwat.de.*
blog.*
blog_local.sh
certs/*
error.*
img/*
logs/
md2htm
nele*
postings/*
static/*
