{{- define "article" -}}
{{template "htmlpage" .}}
{{- end -}}

{{- define "bodypage" -}}
	<dl class="posting"><dt>{{$.Posting.Date}}</dt>
		{{- $ID := $.Posting.ID -}}
		<dd id="manuscript"><a class="idlink" id="{{$ID}}" href="{{.weekURL}}/#p{{$ID}}">[*]</a>
		{{- $.Posting.Post}}</dd>
	</dl>
{{- end -}}
