{{- define "ss" -}}
{{template "htmlpage" .}}
{{- end -}}

{{- define "bodypage" -}}
{{- $lang := "de" -}}
{{- if .Lang}}{{$lang = .Lang}}{{end -}}
<form method="post" action="/ss/" enctype="multipart/form-data">
	<p>{{if eq $lang "de" -}}
	<label for="statFile" title="Name der zu übertragenden Datei">Dateiname:</label>&nbsp;
	<input type="file" name="statFile" id="statFile" title="Name der zu übertragenden Datei" autofocus required>
	{{- else -}}
	<label for="statFile" title="Name of file to upload">Filename:</label>&nbsp;
	<input type="file" name="statFile" id="statFile" title="Name of file to upload" autofocus required>
	{{- end -}}
	</p><p class="right">
	{{- if eq $lang "de" -}}
		<input type="submit" name="abort" title="Abbrechen" value=" Abbrechen " enctype="text/plain"> &nbsp;
		<input type="reset" name="reset" title="Zurücksetzen" value=" Zurücksetzen "> &nbsp;
		<input type="submit" name="submit" title="Speichern der Datei" value=" Speichern ">
	{{- else -}}
		<input type="submit" name="abort" title="Abort" value=" Abort " enctype="text/plain"> &nbsp;
		<input type="reset" name="reset" title="Reset" value=" Reset "> &nbsp;
		<input type="submit" name="submit" title="Store the file" value=" Store ">
	{{- end}}</p>
</form>
{{- end -}}
